.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #1f2937;
  color: white;
}

.header-left,
.header-right {
  margin: 0 50px;
}

.header-right {
  display: flex;
  gap: 32px;
  margin: 25px 0px;
}

/* .header-info {
  display: block;
} */

.header-left-info {
  margin-top: 100px;
}

.header-left-info h1 {
  margin-bottom: -10px;
}
.header-left-info p {
  margin-bottom: 10px;
}
.header-left-info button {
  margin-bottom: 75px;
  background-color: blue;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 5px;
  min-height: 30px;
  min-width: 100px;
}

.image-container {
  width: 500px;
  height: 250px;
  border: 1px solid black;
  background-color: gray;
  align-self: center;
  margin-top: 100px;
  margin-right: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container p {
  color: white;
}
.body h1 {
  display: flex;
  justify-content: center;
}
.boxes {
  display: flex;
  gap: 32px;
  justify-content: center;
}
.box1,
.box2,
.box3,
.box4 {
  display: flex;
  height: 150px;
  width: 150px;
  border: 3px solid blue;
  border-radius: 7px;
}

.words {
  display: flex;
  gap: 87px;
  justify-content: center;
}
.text1,
.text2,
.text3,
.text4 {
  color: gray;
  word-wrap: break-word;
  width: 100px;
  text-align: center;
}
