/* .header {
  display: flex;
  gap: 600px;
}

.header-left {
  display: flex;
  gap: 32px;
}

.header-right {
  display: flex;
  gap: 32px;
  align-items: center;
} */

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #1f2937;
  color: white;
}

.header-left,
.header-right {
  margin: 0 50px;
}

.header-right {
  display: flex;
  gap: 32px;
  margin: 25px 0px;
}

/* .header-info {
  display: block;
} */

.header-left-info {
  margin-top: 100px;
}

.header-left-info h1 {
  margin-bottom: -10px;
}
.header-left-info p {
  margin-bottom: 10px;
}
.header-left-info button {
  margin-bottom: 75px;
}
